@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P", sans-serif;
  height: 100vh;
  color: #eee;
  background-color: #3a750a;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.5rem;
  margin-top: -2rem;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 2.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1.8rem;
  color: rgb(65, 65, 65);
  margin-bottom: 3rem;
}

/* LAYOUT */
main {
  position: relative;
  width: 110rem;
  height: 60rem;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: flex;
}

.player,
.dealer {
  flex: 50%;
  padding: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ELEMENTS */
.name {
  position: relative;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
}

.score {
  font-size: 6rem;
  font-weight: 300;
  color: #fffb00c7;
  margin-bottom: auto;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.1);
}

.table {
  background-color: #3a750a;
  opacity: 1;
  color: #fff;
  width: 450px;
  height: 310px;
  margin-right: 1rem;
  padding-left: 0.5rem;
  text-align: center;
  transition: all 0.75s;
}

#tableCanvas {
  display: flex;
}

.right {
  margin-right: 0rem;
  margin-left: 1rem;
}

.border {
  font-size: 1.6rem;
  display: grid;
  place-items: center;
  min-height: 200px;
  border: 10px solid;
  padding: 0rem;
}

.red {
  margin-top: 1rem;
  color: rgb(172, 0, 0);
}

.green {
  margin-top: 1rem;
  color: green;
}

.grey {
  margin-top: 1rem;
  color: grey;
}

.full {
  border-color: rgba(255, 255, 255, 0.4);
}

.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  background-color: #222;
  color: #eee;
  font-size: 2rem;
  font-family: inherit;
  padding: 0.7rem 2.5rem;
  border-color: #3a750a;
  cursor: pointer;
  box-shadow: 0 9px rgba(0, 0, 0, 0.2);
}

.btn--new {
  top: 2rem;
  background-color: #eee;
  color: #222;
}
.btn--hit {
  top: 37rem;
}
.btn--stand {
  top: 45rem;
}

.btn--continue {
  margin-bottom: 5rem;
  padding: 1.5rem 2.5rem;
}

.btn:hover {
  background-color: #ccc;
}

.btn:active {
  background-color: rgb(143, 143, 143);
  box-shadow: 0 5px rgba(0, 0, 0, 0.6);
}

.deck {
  position: absolute;
  left: 48.4%;
  top: 16.5rem;
  transform: translateX(-40%);
  height: 19rem;
  padding: 2rem 3rem;
  background-color: rgba(0, 0, 0, 0.2);
}

.emoji {
  font-size: 3rem;
  padding-right: 1rem;
}

.line {
  font-size: 1.3rem;
  margin-top: -2rem;
  margin-bottom: 1.5rem;
}

.line2 {
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
}

/* -------------------------- */
/* CLASSES TO MAKE MODAL WORK */
.hidden {
  display: none;
}

.modal {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  color: rgb(24, 24, 24);
  background-color: white;
  padding: 6rem 5rem 9rem 5rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.modal--narrow {
  position: absolute;
  text-align: center;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  color: rgb(24, 24, 24);
  background-color: white;
  padding: 6rem 5rem 9rem 5rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(0.2rem);
  z-index: 5;
}

.btn--close-modal {
  left: 93%;
  transform: translateX(-50%);
  top: 1.2rem;
  right: 1.2rem;
  padding: 0.7rem 1.3rem;
  font-size: 2rem;
  cursor: pointer;
  border: none;
  background-color: #eee;
  color: #222;
}

.btn--frozen {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  background-color: rgb(131, 131, 131);
  color: #696969ee;
  font-size: 2rem;
  font-family: inherit;
  padding: 0.7rem 2.5rem;
  cursor: pointer;
  backdrop-filter: blur(1rem);
  z-index: 3;
  /* Turn into black white picture */
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.inline {
  display: inline;
}

.black {
  color: black;
}

#cards {
  width: 2622;
  height: 1070;
}

#player--score {
  font-size: 3rem;
}

#dealer--score {
  font-size: 3rem;
}
